/** ========GLobal Styling ========**/

body {
  width: 100%;
  background: rgba(49, 117, 129, 0.5)
}

h1 {
  color: #31717F;
}
h2 {
  color: whitesmoke;
  font-family: fantasy;
  font-weight: bold;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: whitesmoke;
	border: outset;
	z-index: 3;
}

/** ========Nav Bar Styling ========**/
.heading {
  position: absolute;
  width: 100%;
  height: 50%;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 3;
}


/** ========Card Container Styling ========**/
#container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row; 
  margin-top: 100px;   
  }

/** ========Individual Card Side Styling ========**/  
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 215px;
}

.card {
  background-color: transparent;
  opacity: .85;
  margin: 20px;
  width: 90%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: %;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: relative;
  width: 100%;
  height: 13vh;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: ;
  z-index: 1;
}

.flip-card-back {
  background-color: transparent;
  transform: rotateY(180deg);
  z-index: 1;
}

/** Signature Styling **/

#footer1 {
  color: #333;
  margin-top: 35px;
}
h5:hover {
  transform: scale(2.1);
}



/**======================Media Query width=============================**/
@media screen and (min-width: 645px) {

.card {
    width: 280px;

}
}

@media screen and (min-width: 765px){
.card {
    width: 340px;
}
}

@media screen and (min-width: 1021px){
.card {
    width: 470px;
}

.heading {
    height: 60%;
    font-size: 4rem;
}
}

@media screen and (min-width: 1230px){
.card {
    width: 375px;
}

.heading {
    height: 60%;
    font-size: 4rem;
}
}

/**======================Media Query Height=============================**/

@media screen and (min-height: 760px){
img {
  height: 220px;
}
}

@media screen and (min-height: 780px){
img {
  height: 230px;
}
}

@media screen and (min-height: 810px){
img {
  height: 235px;
}
}

@media screen and (min-height: 835px){
img {
  height: 245px;
}
}

@media screen and (min-height: 870px){
img {
  height: 250px;
}
}

@media screen and (min-height: 900px){
img {
  height: 260px;
}
}

@media screen and (min-height: 900px){
img {
  height: 270px;
}
}

@media screen and (min-height: 970px){
img {
  height: 278px;
}
}

@media screen and (min-height: 970px){
img {
  height: 278px;
}
}

@media screen and (min-height: 1000px){
img {
  height: 285px;
}
}


/**========***Iphone Landscape Media Query***===========*/

/**Iphone X**/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 
#container {
    margin-top: 30px;
}

.card {
    margin-top: 100px;
}

.flip-card-front, .flip-card-back {
    height: 97px;
}

#footer1 {
    margin-top: 100px;
}
}
/**Iphone 6/7/8**/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
#container {
    margin-top: 30px;
}

.card {
    margin-top: 100px;
}

.flip-card-front, .flip-card-back {
    height: 97px;
}

#footer1 {
    margin-top: 100px;
}

}

/**Iphone 6/7/8 Plus**/
@media only screen 
and (min-device-width : 411px) 
and (max-device-width : 731px) 
and (orientation : landscape) { 
#container {
    margin-top: 30px;
}

.card {
    margin-top: 100px;
    width: 320px;
}

.flip-card-front, .flip-card-back {
    height: 97px;
}

#footer1 {
    margin-top: 100px;
}

}












