/** ========GLobal Styling ========**/
body {
width: 100%;
background: rgb(29, 60, 81);
}
h1 {
color: rgb(29, 60, 81);
}
h2 {
color: whitesmoke;
font-family: fantasy;
font-weight: bold;
padding-top: 75px;
}
header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100px;
background-color: rgb(234, 234, 234, .97);
border: outset;
z-index: 3; 
}
/** ========Nav Bar Styling ========**/
.heading {
position: absolute;
width: 100%;
height: 50%;
font-family: fantasy;
font-weight: bolder;
font-size: 3.3rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
overflow: hidden;
z-index: 3;
}
/** ========Card Container Styling ========**/
#container {
display: flex;
width: 100%;
flex-wrap: wrap;
flex-direction: row;
margin-top: 8rem;  
}
/** ========Individual Card Side Styling ========**/  
img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.card {
background-color: transparent;
opacity: 0.95;
margin: 5rem 3rem 0rem 3rem;
width: 34.5rem;
height: 20rem;
perspective: 1000px;
}
.flip-card-inner {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
vertical-align: middle;
transition: transform 1s;
transform-style: preserve-3d;
box-shadow: 0 19px 38px rgba(0,0,0,0.65), 0 15px 12px rgba(0,0,0,0.22);
}
.card:hover .flip-card-inner {
transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.flip-card-front {
z-index: 1;
}
.flip-card-back {
background-color: transparent;
transform: rotateY(180deg);
z-index: 1;
}
/** Signature Styling **/
#footer1 {
color: #333;
margin-top: 45px;
margin-bottom: 50px;
}
h5:hover {
transform: scale(2.1);
}
/**====================== Media Queries =============================**/
@media screen and (min-width: 425px) {
.card {
width: 35.5rem;
}
@media screen and (min-width: 525px) {
.card {
width: 47rem;
}
@media screen and (min-width: 625px) {
.card {
width: 57rem;
}
@media screen and (min-width: 725px) {
.card {
width: 30rem;
}
@media screen and (min-width: 768px) {
.card {
width: 32rem;
}
@media screen and (min-width: 825px) {
.card {
width: 35rem;
}
@media screen and (min-width: 925px) {
.card {
width: 40rem;
}
@media screen and (min-width: 1000px) {
.card {
width: 44rem;
}
@media screen and (min-width: 1024px) {
.card {
width: 45rem;
}
@media screen and (min-width: 1080px) {
.card {
width: 48rem;
height: 25rem;
}
h2{
padding-top: 100px;
}
@media screen and (min-width: 1180px) {
.card {
width: 53rem;
height: 25rem;
}
@media screen and (min-width: 1230px) {
.card {
width: 35rem;
}
@media screen and (min-width: 1330px) {
.card {
width: 38rem;
}
@media screen and (min-width: 1440px) {
.card {
width: 42rem;
}
@media screen and (min-width: 1630px) {
.card {
width: 48rem;
}